<div id="venta">
  <div class="col-md-12" >
      <div class="panel">
<div class="px-content" align="right">
  <div class="page-header m-b-0">
    <div class="row">
      <div class="col-md-12">
        <h1><i class="page-header-icon ion-arrow-graph-up-right"></i>Ventas Diarias <span class="text-muted font-weight-light"> </span></h1>
      </div>
    </div>
  </div>
  <!-- Latest transactions -->

  <div class="panel">

    <hr class="m-a-0">

    <div class="table-responsive">
      <table class="table" align="right">  
        <thead>
          <tr>
            <th>ID Venta</th>
            <th class="text-xs-right">Total </th>
            <th>Fecha</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>04/01/2018</td>
            <td>04/02/2018</td>
            <td class="text-xs-right"><strong>$1'200.000</strong></td>
          </tr>
         
        </tbody>
      </table>
    </div>
  </div>

  <!-- / Latest transactions -->

</div>
</div>

  