<div id="maspro">
<div class="container app">
    <div class="row">
        <div class="col-md-10">
            <div class="panel">
              
              <br>
              <div class="panel-body">
                <form>
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label for="grid-input-16">ID</label>
                      <input type="text" id="grid-input-16" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="grid-input-17">Precio</label>
                      <input type="text" id="grid-input-17" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-6 form-group">
                      <label for="grid-input-18">Precio</label>
                      <input type="text" id="grid-input-18" class="form-control">
                    </div>
                    <div class="col-sm-6 form-group">
                      <label for="grid-input-19">Marca</label>
                      <input type="text" id="grid-input-19" class="form-control">
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6 form-group">
                        <label for="grid-input-18">Presentacion</label>
                        <input type="text" id="grid-input-18" class="form-control">
                      </div>
                      <div class="col-sm-6 form-group">
                        <label for="grid-input-19">Categoria</label>
                        
                        <input type="text" id="grid-input-19" class="form-control">
                      </div>
                    </div>
                    <br>
                    <div align="center">
                    
                    <button type="text"  class="btn btn-outline-success"  >Añadir</button>
                  </div>
                  </form>
              </div>
            </div>
          </div>
             
    </div>
  </div>
</div>