<div id="conf">
<div class="px-content" align="center">
    <div class="page-header">
        <h1><span class="text-muted font-weight-light"><i class="page-header-icon ion-ios-keypad"></i>Listados / </span>Encargados</h1>
      </div>
      <hr>
      <br>

  <div class="panel">
    <div class="panel-heading">
      <span class="panel-title"></span>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" id="validation-form">
        <div class="form-group">
          <div class="col-sm-8">
            <input type="text" class="form-control" id="validation-email" name="validation-email" placeholder="Nombres">
            <small class="text-muted form-help-text"></small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8">
            <input type="text" class="form-control" id="validation-password" name="validation-password" placeholder="Apellidos">
            <small class="text-muted form-help-text"></small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8">
            <input type="text" class="form-control" id="validation-password-confirmation" name="validation-password-confirmation" placeholder="Tipo de Documento">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8">
            <input type="text" class="form-control" id="validation-required" name="validation-required" placeholder="Numero de Documento">
          </div>
        </div>
      
        <div class="form-group">
          <div class="col-sm-8">
            <input type="text" class="form-control" id="validation-phone" name="validation-phone" placeholder="Celular: (999) 999-9999">
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8">
            <input type="password" class="form-control" id="validation-password" name="validation-password" placeholder=" Contraseña">
            <small class="text-muted form-help-text"></small>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-8">
            <input type="password" class="form-control" id="validation-password-confirmation" name="validation-password-confirmation" placeholder="Validacion Contraseña">
          </div>
        </div>

        <hr>

        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-6">
            <button type="submit" class="btn btn-primary" routerLink="/listencarg">Registrar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>