

 <div id="configuracion">
        <div class="row" align="center">
          <form action="" class="col-md-8 col-lg-8">
            <div class="p-x-1">
              <fieldset class="form-group form-group-lg">
                <input type="text" class="form-control" id="account-name" value="Nombres">
              </fieldset>
              <fieldset class="form-group form-group-lg">
                <input type="text" class="form-control" id="account-name" value="Apellidos">
              </fieldset>
              <fieldset class="form-group form-group-lg">
                <input type="text" class="form-control" id="account-name" value=" Tipo Documento">
              </fieldset>
              <fieldset class="form-group form-group-lg">
                <input type="text" class="form-control" id="account-name" value=" Numero Documento">
              </fieldset>
              <fieldset class="form-group form-group-lg">
                <input type="text" class="form-control" id="account-name" value=" Celular">
              </fieldset>
              <fieldset class="form-group form-group-lg">
                <input type="text" class="form-control" id="account-name" value=" Contraseña">
              </fieldset>
              <br>  
              <br>  
              <button type="submit" class="btn btn-lg btn-primary m-t-3">Actualizar Perfil</button>
              <br>
              <br>
              <a href="#" class="pull-xs-right text-muted p-t-4">Desactivar Cuenta</a>
            </div>
          </form>

          <!-- Spacer -->
          <div class="m-t-4 visible-xs visible-sm"></div>

          <!-- Avatar -->
          <div class="col-md-4 col-lg-3">
            <div class="panel bg-transparent">
              <div class="panel-body text-xs-center">
                <img src="" alt="" class="" style="max-width: 100%;">
              </div>
              <hr class="m-y-0">
              <div class="panel-body text-xs-center">
                <button type="button" class="btn btn-primary">Cambiar</button>&nbsp;
                <button type="button" class="btn"><i class="fa fa-trash"></i></button>
                <div class="m-t-2 text-muted font-size-12">JPG, GIF or PNG. Maximo tamaño 1MB</div>
              </div>
            </div>
          </div>
        </div>

    
 